---
title: Benjamin Silas Rhodes
---

<div class="row">
  <div class="span4">
    <%= partial 'contact' %>
    <%= partial 'projects' %>
  </div>
  <div class="span8">
    <%= partial 'about' %>
    <%= partial 'work' %>
    <%= partial 'school' %>
    <%= partial 'tools' %>
  </div>
</div>
